.App {
  text-align: center;
  background-color: #e5eff0;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e5eff0;
  min-height: 50vh;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body-for-login {
  background-color: #e5eff0;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}
.App-body-for-user-view {
  background-color: #e5eff0;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}
.cardA{
  background-color: #F4F3F1 !important;
  color:#c4b8a3;
  font-weight: bold;
  font-size: x-large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}
.HomepageButton{
  background-color: #1e81b0 !important;
  border-color: transparent !important;
}


.ModalStyle .modal-content{
  background-color:#F4F3F1 ;
}
.HomepageLabel{
  color: #1e81b0;
}
.right-margin-sm{
  margin-right: 1rem;
}

